<div class="m-3">
  <label>Image URL:</label>
  <input type="text" class="form-control w-25 mb-1" [(ngModel)]="image" >
  <label>Image Name:</label>
  <input type="text" class="form-control w-25 mb-1" [(ngModel)]="name">
  <label>Description:</label>
  <textarea class="form-control w-25 mb-1" [(ngModel)]="description"></textarea>
  <button class="btn btn-primary mb-4" (click)="addFruit()" *ngIf="!toggle">Add Fruit</button>
  <button class="btn btn-primary mb-4" (click)="saveFruit()" *ngIf="toggle">Save Fruit</button>


  <div class="card w-25 mb-3" *ngFor="let s of fruits;let i=index">
    <div class="card-body">
      <img [src]="s.fruitImage" width="150px">
      <h1>{{s.fruitName}}</h1>
      <p>{{s.fruitDes}}</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-warning" (click)="editFruit(i)">Edit</button>
        <button class="btn btn-danger" (click)="deleteFruit(i)">Delete</button>
      </div>
    </div>
  </div>
</div>