<div class="m-3">
  <label>Firstname</label>
  <input type="text" class="form-control me-3 mb-3" [(ngModel)]="firstname">
</div>
<div class="m-3">
  <label>Lastname</label>
  <input type="text" class="form-control me-3 mb-3" [(ngModel)]="lastname">
</div>
<div class="m-3">
  <label>Age</label>
  <input type="text" class="form-control me-3 mb-3" [(ngModel)]="age">
</div>
<button class="btn btn-primary ms-3" (click)="addStudent()" *ngIf="!toggle">Add Sudent</button>
<button class="btn btn-info ms-3" (click)="saveStudent()" *ngIf="toggle">Save Sudent</button>

<table border="2" class="m-3">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let x of students;let i=index">
    <td>{{x.fn}}</td>
    <td>{{x.ln}}</td>
    <td>{{x.age}}</td>
    <td><button class="btn btn-danger" (click)="deleteStudent(i)">Delete</button></td>
    <td><button class="btn btn-warning" (click)="editStudent(i)">Edit</button></td>

  </tr>
  
</table>